@media (max-width: 1300px) {
    .product__more {
        margin-top: 60px;
    }
}

@media (max-width: 1200px) {
    .slider-discount {
        justify-content: space-around;
    }

    .slider__discount--img {
        max-width: 600px;
        min-height: 400px;
    }

    .slider {
        max-width: 600px;
    }

    .page-section {
        margin-bottom: 40px;
    }

    .categories__inner {
        justify-content: space-around;
    }
}

@media (max-width: 1100px) {
    .menu__item+.menu__item {
        margin-left: 20px;
    }

    .header__adress {
        margin-right: 20px;
    }

    .banner__link img {
        width: 100%;
    }

}

@media (max-width: 968px) {

    .header__bottom,
    .menu__list {
        display: none;
    }

    .menu__btn {
        display: block;
        background-color: transparent;
        cursor: pointer;
        border: none;
        padding: 0;

        &--line {
            height: 3px;
            width: 34px;
            background: #2F3035;
            border-radius: 3px;
            margin: 8px 0;
        }
    }

    .menu-mobile__line {
        width: 450px;
        padding: 14px 0 14px 15px;

        & .menu__item {
            display: inline-block;
        }

        &--wrapper {
            overflow-x: scroll;
            display: block;
            background-color: #F0F0F4;
            font-size: 20px;
            line-height: 24px;
            font-weight: bold;
            font-family: "SFProDisplay-Bold", sans-serif;
        }
    }

    .slider-discount {
        justify-content: center;
        flex-wrap: wrap;
    }

    .slider__discount--img {
        max-width: 100%;
    }

    .slider {
        max-width: 100%;
    }

    .slider__item {
        text-align: center;
    }

    .discount-item {
        margin-top: 25px;
    }

    .mobile-overflow {
        width: 1000px;
    }

    .tabs__wrapper {
        overflow-x: scroll;
    }
}

@media (max-width: 940px) {
    .footer-top__inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer-top__item {
        margin-bottom: 25px;
    }
}

@media (max-width: 640px) {
    .header__adress {
        display: none;
    }

    main .container {
        padding: 0;
    }

    .search__content--form {
        position: relative;
    }

    .search__content--input {
        padding-right: 50px;
    }

    .search__content--btn {
        position: absolute;
        right: 8px;
        top: 13px;
        background-color: transparent;
        background-image: url('../images/icons/search.svg');
        background-repeat: no-repeat;
        padding: 15px;
        font-size: 0;
        line-height: 0;
        width: 24px;
        height: 24px;
    }

    .banner__link img {
        min-height: 90px;
        object-fit: fill;
    }
}

@media (max-width: 540px) {
    .footer-top__item {
        justify-content: start;
    }

    .footer-top__item {
        width: 100%;
        margin-bottom: 0;
    }

    .footer-top__newslatter {
        width: 290px;
        margin-right: 0px;
        margin-bottom: 40px;
        text-align: center;

        & .footer-top__title {
            margin: 0 auto;
        }
    }

    .footer-top__title.footer-top__drop {
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #7F7F7F;
        padding: 15px 0;
        border-bottom: 2px solid #F9F9FC;
    }

    .footer-top__drop::after {
        position: absolute;
        right: 10px;
        content: "";
        background-image: url('../images/icons/filter-arrow-down.svg');
        width: 12px;
        height: 8px;
        transform: rotate(0deg);
        transition: all .3s;
    }

    .footer-top__drop.active::after {
        transform: rotate(180deg);
    }



    .footer-list {
        display: none;
    }

    .social-list {
        margin-top: 40px;
        justify-content: center;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-bottom__link {
        margin: 12px 0;
    }
}

@media (max-width: 440px) {
    .categories__item {
        padding: 20px 10px 16px;
    }
}