.jq-checkbox, .jq-radio {
    vertical-align: -2px;
    width: 14px;
    height: 14px;
    margin: 0 8px 0 0;
    border: 1px solid #c4c4c4;
    border-radius: 1px;
    background: transparent;
    box-shadow: none;
    cursor: pointer;
}

.jq-checkbox.checked,
.jq-radio.checked {
    border: none;
    background-color: $blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.jq-checkbox.checked .jq-checkbox__div {
    width: 8px;
    height: 6px;
    margin: 3px 0 0 3px;
    border: none;
    transform: rotate(0);
    background-image: url('../images/icons/form-arrow.svg');
}

.jq-radio.checked .jq-radio__div {
    width: auto;
    height: 100%;
    margin: 0;
    border-radius: 0%;
    background: transparent;
    box-shadow: none;
}

//range input
.irs--flat {
    width: 100%;
}

.irs-from{
    // display: none;
}