.jq-checkbox,
.jq-radio {
    vertical-align: -2px;
    width: 14px;
    height: 14px;
    margin: 0 8px 0 0;
    border: 1px solid #c4c4c4;
    border-radius: 1px;
    background: transparent;
    box-shadow: none;
    cursor: pointer;
}

.jq-checkbox.checked,
.jq-radio.checked {
    border: none;
    background-color: $blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.jq-checkbox.checked .jq-checkbox__div {
    width: 8px;
    height: 6px;
    margin: 3px 0 0 3px;
    border: none;
    transform: rotate(0);
    background-image: url('../images/icons/form-arrow.svg');
}

.jq-radio.checked .jq-radio__div {
    width: auto;
    height: 100%;
    margin: 0;
    border-radius: 0%;
    background: transparent;
    box-shadow: none;
}

//range input
.irs--flat {
    width: 100%;
    margin-top: -15px;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
    display: none;
}

.irs--flat .irs-max,
.irs--flat .irs-min {
    top: 55px;
    color: $black;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-decoration: underline;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    visibility: visible !important;
    padding-left: 27px;

    &::before {
        position: absolute;
        left: 0;
        font-family: 'SFProDisplay', sans-serif;
        font-size: 14px;
        line-height: 17px;
        color: #C4C4C4;
        padding-bottom: 4px;
    }

}

.irs--flat .irs-min::before {
    content: 'от';
}

.irs--flat .irs-max::before {
    content: 'до';
}


.irs--flat .irs-line {
    height: 1px;
    background-color: #E0E0E0;
    border-radius: 0;
}

.irs--flat .irs-bar {
    cursor: pointer;
    top: 25px;
    height: 3px;
    background-color: $blue;
}

.irs--flat .irs-handle {
    top: 22px;
    width: 8px;
    height: 8px;
    background-color: $blue;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: lighten($blue, 10%);
    }
}

.irs--flat .irs-handle>i:first-child,
.irs--flat .irs-handle.state_hover>i:first-child,
.irs--flat .irs-handle:hover>i:first-child {
    background-color: transparent;
}

.filter__item--listselect {
    color: #48494D;
    border-radius: 3px;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 17px;
}