.pagination {

  width: 100%;
  margin-top: 40px;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    margin: 0 4px;
    padding: 6px 15px;
    border: transparent;
    color: #C4C4C4;
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    &.active {
      border: 2px solid $blue;
      color: $blue;
    }

    a {
      display: block;
    }
  }
}