.products__title {
    font-family: Barlow;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #2F3035;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 25px;
}

.products__tab+.products__tab {
    margin-left: 50px;
}

.products__tabs {
    margin-bottom: 25px;
}

.products__tab {
    padding-bottom: 10px;

    &.active {
        border-bottom: 2px solid $blue;
    }
}



.product-item {
    border: 1px solid #CDCDCD;
    text-align: center;
    transition: all .3s;
    border-radius: 3px;
    padding: 52px 20px 31px;
    min-height: 400px;


    &__wrapper {
        position: relative;
        width: 271px;

        &.sale {
            &::before {
                padding: 8px 15px;
                content: "SALE";
                font-weight: 400;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.07em;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $blue;
                color: white;
            }
        }

        &.not-avilable {

            .product-item__price,
            .product-item__basket {
                display: none;
            }

            .product-item__notify--text,
            .product-item__notify--link {
                display: block;
            }

            .product-item__title {
                padding-bottom: 13px;
            }
        }
    }

    &__img {
        max-width: 100%;
    }

    &__title {
        font-weight: normal;
        padding: 14px 0 25px;
        transition: all .3s;
    }

    &__price {
        font-family: Barlow;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
    }

    &__favorite {
        position: absolute;
        top: 16px;
        right: 19px;
        width: 24px;
        height: 22px;
        background-color: transparent;
        border: none;
        outline: none;
        z-index: 5;
        cursor: grab;

        &::before {
            content: '';
            position: absolute;
            width: 24px;
            height: 22px;
            background-image: url(../images/icons/favorite.svg);
            top: 0;
            left: 0;
        }

        &.active {
            &::before {
                background-image: url(../images/icons/favorite-active.svg);
            }
        }
    }

    &__basket {
        position: absolute;
        width: 60px;
        height: 40px;
        background-color: $blue;
        bottom: 0;
        right: 0;
        border: none;
        border-radius: 10px 0px 0px 0px;
        cursor: grab;

        img {
            padding: 4px 0 0 4px;
        }
    }

    &__hover {
        padding: 18px 21px;
        background-color: rgba(255, 255, 255, .9);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        position: absolute;
        display: inline-block;
        top: 30%;
        opacity: 0;
        transition: all .3s;
    }

    &:hover {
        box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
        color: $blue;

        .product-item__hover {
            opacity: 1;
            color: $black;
        }

        .product-item__notify--text {
            color: #2F3035;
        }
    }

    &__notify {

        &--text {
            display: none;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: #2F3035;
        }

        &--link {
            display: none;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            border-bottom: 1px solid $blue;
            white-space: nowrap;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: $blue;
        }
    }
}

.product-slider__arrow {
    background-image: url("../images/icons/slider-arrow-black.svg");

    &--next {
        right: -30px;
    }

    &--prev {
        left: -30px;
        transform: rotate(180deg);
    }
}

.product__more {
    text-align: center;
    margin-top: 35px;

    &--link {
        padding: 17px 43px;
        font-family: SF Pro Display;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #2F3035;
        background-color: #F0F0F4;
    }
}