.product-card {
  margin-bottom: 80px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__img-box {
    font-family: 'Barlow', sans-serif;
    width: 500px;
    padding-top: 64px;
    text-align: center;
    color: #2F3035;
    position: relative;

    &.sale {
      &::before {
        padding: 13px 21px;
        border-radius: 3px;
        content: "SALE";
        font-weight: 400;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.12em;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $blue;
        color: white;
      }
    }
  }

  &__price-old {
    font-size: 30px;
    line-height: 44px;
    opacity: 0.6;
    background-image: url('../images/icons/old-line.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
  }

  &__price-new {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 17px;
  }

  &__link {
    font-size: 15px;
    line-height: 18px;
    color: $blue;
    border-bottom: 1px solid $blue;
  }

  &__content {
    width: 570px;
  }

  &__title {
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #2F3035;
    margin-bottom: 10px;
  }

  &__code {
    font-size: 15px;
    line-height: 18px;
    color: #2F3035;
    opacity: 0.6;
    margin-bottom: 22px;
  }

  &__buttons {
    margin-bottom: 50px;

    a+a {
      margin-left: 30px;
    }
  }

  &__tab {
    font-size: 20px;
    line-height: 24px;
    color: #2F3035;
    opacity: 0.6;
    padding-bottom: 5px;
    padding-right: 17px;
    margin-bottom: 5px;

    &.active {
      font-family: 'SFProDisplay-Bold', sans-serif;
      opacity: 1;
      font-weight: bold;
      border-bottom: 2px solid $blue;
    }
  }

  &__tab+&__tab {
    padding-left: 17px;
  }

  &__list {
    margin-bottom: 20px;
  }

  &__item {
    font-size: 20px;
    line-height: 24px;
    color: #2F3035;
    padding: 15px 0 6px;
    border-bottom: 1px solid rgba(47, 48, 53, 0.1);
    display: flex;
    justify-content: space-between;

    &--left {
      padding-right: 15px;
    }

    &--right {
      width: 125px;
    }
  }

  &__more {
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid $blue;
    color: $blue;
    margin-bottom: 40px;
  }

  &__btn button {
    padding: 16px 56px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 3px;
    border: none;
    background-color: $blue;
    cursor: pointer;
  }
}

.rate {
  cursor: pointer;
}

.card__tabs {
  margin-bottom: 100px;
}

.card__tab-box {
  background-color: #F0F0F4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  height: 70px;
}

.card__tab {
  padding: 5px 0 5px;
  border-bottom: 2px solid transparent;
  transition: all .3s;
  font-size: 20px;
  line-height: 24px;
  color: #2F3035;
  opacity: 0.6;

  &:hover {
    border-bottom: 2px solid $blue;
    opacity: 1;
  }

  &.active {
    border-bottom: 2px solid $blue;
    opacity: 1;
  }
}

.card__top-line {
  margin-bottom: 10;
}

.card__label--search,
.card__label--pickup {
  font-size: 17px;
  line-height: 20px;
  color: rgba(47, 48, 53, 0.7);
  cursor: pointer;
}

.card__input--search {
  background: #F0F0F4;
  border-radius: 3px;
  margin-left: 17px;
  padding: 9px 37px 9px 17px;
  border: none;
  margin-right: 100px;
}

.card__label--pickup {
  margin-left: 54px;
}

.card__list {

  &--item {
    padding: 20px 0;
    border-bottom: 1px solid rgba(47, 48, 53, 0.1);
    display: flex;

    font-size: 16px;
    line-height: 22px;
    color: rgba(47, 48, 53, 0.7);

    &:first-child {
      font-size: 20px;
      line-height: 24px;
      color: rgb(47, 48, 53);
    }
  }

  &--address {
    width: 220px;
    margin-right: 80px;
  }

  &--workhours {
    width: 157px;
    margin-right: 96px;

    & .workhours {
      display: flex;
      justify-content: space-between;
    }
  }

  &--avialable {
    width: 140px;
    margin-right: 60px;
  }

  &--num {
    width: 104px;
  }

  &--btn {
    margin-left: auto;

    button {
      padding: 9px 40px;
      background-color: $blue;
      border: none;
      border-radius: 3px;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.12em;
      color: #FFFFFF;
    }
  }
}